<p class="left">Número de preguntas: <span><%= stats["questionsNum"] %> </span></p>
<p class="left">Número de comentarios totales: <span><%= stats.commentsNum %> </span></p>
<p class="left">Número medio de comentarios por pregunta: <span><%= stats.commentsAvg %> </span></p>
<p class="left">Número de preguntas sin comentarios: <span><%= stats.questionsWithoutComments %> </span></p>
<p class="left">Número de preguntas con comentarios: <span><%= stats.questionsWithComments %> </span></p>
